<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="/css/media.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
   <main>
        <div class="signup-a auth-workflow">
          <div id="authportal-center-section" class="a-section">
            <div id="authportal-main-section" class="a-section">
              <div class="a-section auth-pagelet-container">
                <div class="a-section">
                  <% if (errorMessage) { %>
                  <div class="user-message user-message--error">
                    <%= errorMessage %>
                  </div>
                  <% } %>
                  <form class="login-form" action="/new-password" method="POST">
                    <div class="a-box a-spacing-extra-large">
                      <div class="a-box-inner">
                        <h1 class="a-spacing-small">
                          Update Password
                        </h1>
                        <div class="form-control-a">
                          <label for="password">Password</label>
                          <input type="password" name="password" id="password" />
                        </div>
                        <input type="hidden" name="userId" value="<%= userId %>" />
                        <input
                          type="hidden"
                          name="passwordToken"
                          value="<%= passwordToken %>"
                        />
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <button class="btn" type="submit">Save Changes</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
<%- include('../includes/end.ejs') %>